altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
faiss-cpu
filelock
fonttools
fsspec
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-auth
google-genai
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httpcore
httpx
huggingface-hub
idna
importlib-metadata
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
narwhals
networkx
nltk
numpy
packaging
pandas
pillow
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pydantic
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
pytz
PyYAML
referencing
regex
reportlab
requests
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smmap
sniffio
streamlit
sympy
tabulate
tenacity
threadpoolctl
tokenizers
toml
torch
torchvision
tornado
tqdm
transformers
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
websockets
zipp
